
.light-iron-gray-bg{
background-color:#5a5b5d ;
}
.dark-iron-gray-bg{
    background-color: #2b2b2d;
}
.dark-iron-gray{
    color: #2b2b2d;
}
.prussian-red-bg{
    background-color:#DE0000;
}
.white-bg{
    background-color: #ffffff;
}
.light{
    color:#ffffff;
}

.black-bg{
    background-color:#232323;
}
.dark{
    color:#232323;
}
.success-bg{
    background-color: lightgreen;
}
.sucess{
    color:lightgreen;
}
.line-throug{
    text-decoration: line-through;
}
.bg-gray{
    background-color: gray;
}
.gray{
    color: gray;
}

