*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.flex-items{
    display: flex;
    flex-wrap: wrap;

}
.flex-fixed{
    display: flex;
    
}
.fit-content-X{
    width: fit-content;
}
.mid{
    justify-content: center;
    align-items: center;
}
.center-X{
    justify-items: center;
}
.end{
    
    justify-content: end;
}
.to-column{
    display: flex;
    flex-direction: column;
    
}

.Gap{
    gap: 5px;
}
.Gap-10{
    gap: 10px;
}
.Gap-15{
    gap:15px;
}
.Gap-20{
    gap:20px;
}
.Gap-25{
    gap:25px;
}
.Gap-30{
    gap:30px;
}
.Gap-40{
    gap:40px;
}
.Gap-50{
    gap:50px;
}
.Gap-60{
    gap:60px;
}
.column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mid-X{
    justify-content: center;
}
.row{
    flex-direction:row;
}
.mid-Y{
    align-items: center;
}
.foot{
    justify-content: end;
    
}
.foot-item{
    flex-grow: 1;
   
}

.Card-item{
    display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
   border-radius: 0.5rem;
   padding: 20px;
   transition: 100ms;
}
.container{
    height: 100vh;
}
.button{
    
    display: flex;
    align-items: center;
    border: 1px rgb(79, 79, 228) solid;
    background-color:  rgb(79, 79, 228) ;
    height: 2.5em;
    width: 90px; 
    text-align: center;
    border-radius: 2rem;
    color: white;
    padding-left: 2.5%;
    
    
 }
.errow-right{
        border:3px solid white ;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        transform: rotate(40deg);
        border-bottom: none;
        border-left: none;
    
    }
.errow-left{
        border:3px solid white ;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        transform: rotate(40deg);
        border-right: none;
        border-top: none;
    }
    .carousel-container{
        width: 100%;
    }
    .carousel-item{
        
        width: 30%;
        height: 60%;
        background-color: white;
        border-radius: 0.5rem;
        padding-left: 5px;
        padding-right: 5px;
    }
.carousel-item img{
        height: 150px;
    }
.carousel-right{
        
        bottom: 10%;
        right:10% ;
        border: 1px solid none;
        width: 40px;
        height: 40px;
        border-radius: 0.4rem;
        background-color: rgb(79, 101, 228) ;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.carousel-left{
        
        bottom: 10%;
        right:10% ;
        border: 1px solid none;
        width: 40px;
        height: 40px;
        border-radius: 0.4rem;
        background-color: rgb(79, 101, 228) ;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel{
        width: 80%;
        justify-content: space-between;
        color: #000;
    }
@media (max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .Card-item{
        width: 80%;
        height: 50vh;
    }
    .carousel>.carousel-item{
        width: 100%;
        height: fit-content;
    }
    .flex-items{
        flex-direction: column;
    }
    .flex-fixed{
        flex-direction: column;
    }
}