ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #C7E0FF;
  }
  


  li a {
    display: block;
    padding: 8px 95px;
    color: #000;
    text-decoration: none;
}

li a.active {
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
li a:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }