.booking-card{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px 50px;
    width: 70%;
}

.line{
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    height: 70px;
}

.booking-card button{
    width: 150px;
}