.font{
    font-family: "JetBrains Mono", monospace;
}

.shadow:hover{
    box-shadow: 0px 1px 3px 2px gainsboro;
}


.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.w-full{
    width: 100%;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.gap{
    gap:20px
}

.h-full{
    height: 100vh;
}

.border-radius{
    border-radius: 3px;
}

